body{
    background-image: url('../photos/img-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.loginImg{
    width: 20%;
    margin-left: 40%;
}
#form1{
    width: 40%;
    background-color: white;
    border: solid 1px white;
    border-radius: 5px;
    text-align: center;
    margin: 6% 30%;
}
.loginForm {
    border-radius: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 97%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    border-radius: 3px;
    background: #F5F5F5;
} 
.loginBtn{
    font-size: larger;
    color: white;
    background-color: rgb(73, 73, 232);
}
a{
    font-size: large;
    text-decoration: none;
    color: black;
}

#form2{
    width: 40%;
    margin: 6% 30%;
    background-color: white;
    border-style: solid;
    border-color: #ffff;
    border-radius: 5px;
}
.checkbox{
    width: 15px;
    height: 15px;
}

#form3{
    width: 40%;
    margin: 6% 30%;
    background-color: white;
    border-style: solid;
    border-color: #ffff;
    border-radius: 5px;
}
.loginBox{
    width: 100%;
    background-color: #c1c5c538;
    height: 40px;
    border-radius: 5px;
    color: rgb(58, 58, 236);
}

#login-form{
    width: 40%;
    margin: 6% 30%;
    background-color: white;
    border-style: solid;
    border-color: #ffff;
    border-radius: 5px;
}
.startedBox{
    width: 100%;
    background-color: #c1c5c538;
    
    border-radius: 5px;
    color: rgb(58, 58, 236);
}
