/* body{
    background-image: url('../photos/Galaxy4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
} */
#signupForm{
    width: 40%;
    margin-top: 2%;
    margin-left: 28%;
    padding: 0 30px 0 30px;
    background-color: white;
    border-style: solid;
    border-color: #ffff;
    border-radius: 5px;
}
input[type=text], input[type=password] {
    width: 97%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    border-radius: 3px;
    background: #F5F5F5;
}

.registerbutton{
    background-color: #29a329;
    color: white;
    padding: 15px 20px;
    margin: 10px 0px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 50%;
    margin-left: 26%;
    font : bold;
}

#confirmedForm{
    width: 22%;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 30px;
    margin: 13% 36%;
}
.startedBox{
    width: 70%;
    margin: 0 10%;
    background-color: #8a8b8b38;
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: rgb(58, 58, 236);
}

.loginForm{
    width: 30%;
    /* margin-top: 2%;
    margin-left: 28%; */
    margin: 15% 28%;
    padding: 3% 8%;
    background-color: white;
    border-style: solid;
    border-color: #ffff;
    border-radius: 5px;
}